.todoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 500px;
}
#addTaskBtn {
  width: 100%;
}
.card {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.bold {
  font-weight: bold;
  font-size: 20px;
}
